#body {
    background-image: url("lamb2.jpg");
    background-repeat: repeat;
}
#announce {
    height: 50%;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    vertical-align: middle;
}

#announce h2 {
    font-size: 7vmin;
}

#announce h3 {
    font-size: 6vmin;
}

#announce .Victory {
    color: blue;
}

#announce .Patience {
    color: gray;
}